:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --page-bg: #d4d0d0;
  --text-color: #353434;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
